<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Node_Contacts</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-animate.js" type="text/javascript"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-route.js" type="text/javascript"></script>
  <script type="text/javascript" src="../browser/app.js"></script>
  <script type="text/javascript" src="/browser/directives/loginBar.js"></script>

  <link href="../browser/main.css" rel="stylesheet">

</head>
<body>
	

<login-bar></login-bar>


<button ng-click="addGroup()">Add a Group</button>

<div ng-controller="Ctrl">

  <p>{{test}}</p>

  <button ng-click="getContacts()">Get Contacts</button>
  <section class="result_wrap">
    <div ng-show="resultWrap" ng-repeat="contact in contacts" >
      <div>
      	Last Name:<a href="#/contacts/{{ contact.id }}"> {{ contact.name.lastName }}</a>
      </div>
    </div>
  </section><!-- . result_wrap - -->
</div>

<div ng-controller="NewContactCtrl">

  <p>{{test}}</p>

  <button ng-click="addContact()">Add a Contact</button>

  <section class="new_contact_wrap" ng-show="contactGrid">

    <table name="new_contact">
      <tr>
        <td class="label">First Name</td>
        <td class="input">
          <input type="text" ng-model="contact.firstName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Last Name</td>
        <td class="input">
          <input type="text" ng-model="contact.lastName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Phone Number</td>
        <td class="input">
          <input type="text" ng-model="contact.personalEmail" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Email</td>
        <td class="input">
          <input type="text" ng-model="contact.phoneNumber" required/>
        </td>
      </tr>
    </table>
    <div>
      <div class="submit_button">
        <button type="text" required ng-click="createContact()">Submit</button>
      </div><!-- . submit_button - -->
    </div>
  </section><!-- . new_contact_wrap - -->

  <section class="post_message" ng-show="postMessage">
   <div>contact successfully created!</div>
  </section>
</div>


</body>
</html>




