<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-controller="Ctrl">
<head>
	<meta charset="UTF-8">
	<title>Node_Contacts</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-animate.js" type="text/javascript"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-route.js" type="text/javascript"></script>
  <script type="text/javascript" src="../browser/app.js"></script>
  <script type="text/javascript" src="/browser/directives/loginBar.js"></script>

  <link href="../browser/main.css" rel="stylesheet">

</head>
<body>
	

<login-bar></login-bar>

<p>{{test}}</p>

<button ng-click="getContacts()">Get Contacts</button>

<section>
  <div ng-repeat="contact in contacts">
    <div>
    	<p>Contact Data: {{ contact }}</p>
    </div>
  </div>
</section>


</body>
</html>




