<section class="add_contact_wrap">
    
    <div class="new_contact_wrap">
      <form class="form-group" name="addContact">

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-user fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" name="firstName" ng-model="firstName" required="true"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-user fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name" name="lastName" ng-model="lastName"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-birthday-cake fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Birthday" name="birthday" ng-model="birthday"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-mobile-phone fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mobile Number" name="mobile" ng-model="mobile"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-phone fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Work Number" name="workNum" ng-model="workNum"/>
        </div>

        <div class="form-group input-group"> 
          <span class="input-group-addon"><label class="fa fa-envelope fa-10x"></label></span>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Personal Email" required="required" name="personal" ng-model="personal"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-envelope fa-10x"></label></span>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Work Email" required="required" name="workMail" ng-model="workMail"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-building fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Company" name="company" ng-model="company"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Street1" name="street1" ng-model="street1" ng-required="required"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Street2" name="street2" ng-model="street2"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="City" name="city" ng-model="city" ng-required="required"/>
        </div>

        <div class="form-group input-group"> 
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="State" name="state" ng-model="state" ng-required="required"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Zip" name="zip" ng-model="zip"/>
        </div>

        <div class="form-group input-group">
          <span class="input-group-addon"><label class="fa fa-map-marker fa-10x"></label></span>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Country" name="country" ng-model="country"/>
        </div>
      </form>

      <div>
        <div class="button_wrap">
          <button class="submit_button btn btn-default" type="button" ng-click="createContact()">Submit</button>
        </div><!-- . submit_button - -->
      </div>
  </div><!-- . new_contact_wrap - -->

  <div class="alert alert-success" ng-show="contactCreated">
    <strong>Success!</strong> Contact has been created!
  </div>
</section><!-- . add_contact_wrap - -->
