<section class="add_contact_wrap">
    
    <div class="new_contact_wrap">
      <form class="form-group" name="addContact">

        <div class="form-group form-group has-warning">
          <label class="control-label" for="inputWarning1">First Name</label>
          <input type="text" class="form-control" id="inputWarning1" name="firstName" ng-model="firstName" required="true"/>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastName" ng-model="lastName"/>
        </div>

        <div class="form-group">
          <label>Birthday</label>
          <input type="text" class="form-control" name="birthday" ng-model="birthday"/>
        </div>

        <div class="form-group">
          <label>Mobile Number</label>
          <input type="text" class="form-control" name="mobile" ng-model="mobile"/>
        </div>

        <div class="form-group">
          <label>Work Number</label>
          <input type="text" class="form-control" name="workNum" ng-model="workNum"/>
        </div>

        <div class="form-group"> 
          <label>Personal Email</label>
          <input type="text" class="form-control" name="personal" ng-model="personal" ng-required="required"/>
        </div>

        <div class="form-group">
          <label>Work Email</label>
          <input type="text" class="form-control" name="workMail" ng-model="workMail"/>
        </div>

        <div class="form-group">
          <label>Company</label>
          <input type="text" class="form-control" name="company" ng-model="company"/>
        </div>

        <div class="form-group">
          <label>Street1</label>
          <input type="text" class="form-control" name="street1" ng-model="street1" ng-required="required"/>
        </div>

        <div class="form-group">
          <label>Street2</label>
          <input type="text" class="form-control" name="street2" ng-model="street2"/>
        </div>

        <div class="form-group">
          <label>City</label>
          <input type="text" class="form-control" name="city" ng-model="city" ng-required="required"/>
        </div>

        <div class="form-group"> 
          <label>State</label>
          <input type="text" class="form-control" name="state" ng-model="state" ng-required="required"/>
        </div>

        <div class="form-group">
          <label>Zip</label>
          <input type="text" class="form-control" name="zip" ng-model="zip"/>
        </div>

        <div class="form-group">
          <label>Country</label>
          <input type="text" class="form-control" name="country" ng-model="country"/>
        </div>
      </form>

      <div>
        <div class="button_wrap">
          <button class="submit_button" type="text" ng-click="createContact()">Submit</button>
        </div><!-- . submit_button - -->
      </div>
  </div><!-- . new_contact_wrap - -->

  <div class="alert alert-success" ng-show="contactCreated">
    <strong>Success!</strong> Contact has been created!
  </div>
</section><!-- . add_contact_wrap - -->
