<section class="details_wrap">

<!-- show single group -->

  <div class="group_details" ng-show="groupDetails">
    <p>{{ singleGroup.name }} <img src="../browser/public/edit.svg" class="group_edit_img" ng-click="updateGroup()"/></p>

    <div ng-repeat="contact in groupContacts" class="group_contact_name">
      <a>
        <img src="../browser/public/blank_photo.png"/><br/>
      </a>
      <a>
        <div class="contact_name">{{ contact.name.firstName }}</div>
        <div class="contact_name">{{ contact.name.lastName }}</div>
      </a>  
    </div>  
  </div>


<!-- delete/edit messages -->

  <div class="edit_group_wrap" ng-show="editGroupButtons">
    <p ng-click="ShowGroupConfirm()" class="delete_btn_wrap">
      <input type="button" value="DELETE" class="btn btn-default delete_group">
    </p>
    <span ng-bind = "Message"></span>
  </div><!-- .edit_group_wrap - -->

  <div class="alert alert-success" ng-show="groupDeleted">
    <strong>Success!</strong> Group has been deleted!
  </div>


  <div class="alert alert-success" ng-show="groupEdited">
    <strong>Success!</strong> Group has been updated!
  </div>


<!-- edit group -->

  <div class="edit_Group" ng-show="editGroupGrid">
    
    <form class="form-group" name="editGroup">

      <div class="form-group">
        <label><b>Group Name</b></label>
        <input type="text" class="form-control" name="groupName" ng-model="groupName"/>
      </div>

      <div class="form-group">
        <label>Select Contacts to Add</label>

          <div class="input-group changethisone">
            <input type="text"  class="form-control" placeholder="Contact Search" ng-model="name"/>
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
          </div>
        

        <div class="availiable_contacts" ng-repeat="contact in contacts | filter: name">
          <label>
            <input type="checkbox" class="group_contacts" ng-model="selected[$index]" ng-checked="checkItem(contact.id)">
            <img class="group_contact" src="../browser/public/blank_photo.png"/><span class="groupNameEdit">{{ contact.name.firstName }} {{ contact.name.lastName }}</span>
          </label>
        </div>
      </div >

    </form>  

    <div class="button_wrap">
      <button class="btn btn-default" type="text" required ng-click="submitEdit()">Submit</button>
    </div><!-- button_wrap -->

  </div><!-- new_group -->

</section><!--  details_wrap -->

