<! LISTING CONTACTS>
<section class="contact_result_wrap" ng-show="resultWrap">
  
  <div class="input-group changethisone">
    <input type="text"  class="form-control" placeholder="Contact Search" ng-model="name"/>
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
  </div>

  <div class="result_wrap">
    <div class="all_contacts" ng-repeat="contact in contacts | filter: name">
      <div class="list_contacts">

        <a ng-click="getContactDetails(contact.id )" ng-href="#/contactInfo/{{ contact.id }}">
          <img src="../browser/public/blank_photo.png"/><br/>
        </a>

        <a class="contact_full_name" ng-click="getContactDetails(contact.id )" href="#/contactInfo/{{ contact.id }}">
        <div class="extra_wrap">
            <div class="contact_name">{{ contact.name.firstName }}</div>
        	  <div class="contact_name">{{ contact.name.lastName }}</div>
        </div>
        </a><!-- . contact_full_name - -->

      </div><!-- . list_contacts - -->
    </div><!-- . all_contacts - -->
  </div><!-- . result_wrap - -->

</section><!-- .contact_result_wrap - -->
