<! LISTING CONTACTS>

<section class="contact_result_wrap">
  <div class="result_wrap">
    <div ng-show="resultWrap" ng-repeat="contact in contacts" >
      <div>
        First Name:<a href="#/contactInfo/{{ contact.id }}"> {{ contact.name.firstName }}</a>
      	Last Name:<a ng-click="getContactDetails(contact.id )" href="#/contactInfo/{{ contact.id }}"> {{ contact.name.lastName }}</a>
      </div>
    </div>
  </div><!-- . result_wrap - -->
</section><!-- .contact_result_wrap - -->

<! CREATE CONTACT>

<section ng-controller="NewContactCtrl" class="add_contact_wrap">

  <button class="add_contact_button" ng-click="addContact()">Add a Contact</button>

  <div class="new_contact_wrap" ng-show="contactGrid">

    <table name="new_contact">
      <tr>
        <td class="label">First Name</td>
        <td class="input">
          <input type="text" ng-model="firstName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Last Name</td>
        <td class="input">
          <input type="text" ng-model="lastName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Phone Number</td>
        <td class="input">
          <input type="text" ng-model="mobile" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Email</td>
        <td class="input">
          <input type="text" ng-model="personal" required/>
        </td>
      </tr>
    </table>
    <div>
      <div class="button_wrap">
        <button class="submit_button" type="text" required ng-click="createContact()">Submit</button>
      </div><!-- . submit_button - -->
    </div>
  </div><!-- . new_contact_wrap - -->

  <div class="post_message" ng-show="postMessage">
   <div>contact successfully created!</div>
  </div>

</section><!-- . newContactCtrl - -->










