<! CREATE CONTACT>

<div ng-controller="NewContactCtrl">

  <button ng-click="addContact()">Add a Contact</button>

  <section class="new_contact_wrap" ng-show="contactGrid">

    <table name="new_contact">
      <tr>
        <td class="label">First Name</td>
        <td class="input">
          <input type="text" ng-model="firstName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Last Name</td>
        <td class="input">
          <input type="text" ng-model="lastName" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Phone Number</td>
        <td class="input">
          <input type="text" ng-model="mobile" required/>
        </td>
      </tr>
      <tr>
        <td class="label">Email</td>
        <td class="input">
          <input type="text" ng-model="personal" required/>
        </td>
      </tr>
    </table>
    <div>
      <div class="submit_button">
        <button type="text" required ng-click="createContact()">Submit</button>
      </div><!-- . submit_button - -->
    </div>
  </section><!-- . new_contact_wrap - -->

  <section class="post_message" ng-show="postMessage">
   <div>contact successfully created!</div>
  </section>
</div><!-- . newContactCtrl - -->



<! LISTING CONTACTS>

<div ng-controller="Ctrl">

  <section class="result_wrap">
    <div ng-show="resultWrap" ng-repeat="contact in contacts" >
      <div>
        First Name:<a ng-click="getContactDetails( contact.id )" href="#/contactInfo/{{ contact.id }}"> {{ contact.name.firstName }}</a>
      	Last Name:<a ng-click="getContactDetails(contact.id )" href="#/contactInfo/{{ contact.id }}"> {{ contact.name.lastName }}</a>
      </div>
    </div>
  </section><!-- . result_wrap - -->

  <section class="details_wrap">
    <div ng-show="detailsWrap">
      <div>First Name: <p>{{ singleContact.name.firstName }}</p></div>
      <div>Last Name: <p>{{ singleContact.name.lastName }}</p></div>
      <div>Birthday: <p>{{ singleContact.birthday.date }}</p></div>
      <div>Phone Number: <p>{{ singleContact.phoneNumber.mobile }}</p></div>
      <div>Email: <p>{{ singleContact.email.personal }}</p></div>
      <div>Company:<p>{{ singleContact.company }}</p></div>
    </div>
  </section><!-- . details_wrap - -->

</div><!-- . Ctrl - -->







