<! LISTING GROUPS>

<div ng-controller="getGroupCtrl">

  <section class="group_wrap">
    <div ng-show="groupWrap" ng-repeat="group in groups" >
      <div>
        Group Name:<a href="#/groupInfo/{{ group.id }}"> {{ group.name }}</a>
      </div>
    </div>
  </section><!-- . group_wrap - -->

  <section class="group_details">
    <div ng-show="detailsWrap">
      <div>Group Name: <p>{{ singleGroup.name }}</p></div>
    </div>
  </section><!-- . group_details - -->

</div><!-- .getGroupsCtrl - -->


<! ADD A GROUP>

<div ng-controller="postGroupFactory">

  <button ng-click="addGroup()">Add a Group</button>

    <section class="new_group" ng-show="groupGrid">

      <table name="new_group">
        <tr>
          <td class="label">Group Name</td>
          <td class="input">
            <input type="text" ng-model="groupName" required/>
          </td>
        </tr>
      </table>
      <div>
        <div class="submit_button">
          <button type="text" required ng-click="createGroup()">Submit</button>
        </div><!-- . submit_button - -->
      </div>
    </section><!-- . new_group - -->

    <section class="post_message" ng-show="postMessage">
     <div>group successfully created!</div>
    </section>
</div><!-- . postGroupFactory - -->


