<section>

<!-- LISTING GROUPS -->

  <div class="group_result_wrap" ng-show="groupResult">

    <p class="page_header"><b>Your Groups</b></p>

    <div class="group_wrap">
      <div class="groups" ng-show="groupWrap" ng-repeat="group in groups" >

        <a ng-click="getContactDetails(contact.id )" href="#/groupInfo/{{ group.id }}">
          <img ng-src="{{ group.pictures || '../browser/public/blank_group.png' }}"/><br/>
        </a>

        <div class="group_name">
          <a class="group_name_word" href="#/groupInfo/{{ group.id }}"> {{ group.name }}</a>
        </div><!-- . group_name - -->

      </div><!-- . groups - -->
    </div><!-- . group_wrap - -->

  </div><!-- .group_result_wrap - -->


  <!-- ADD A GROUP -->

  <div class="add_group_wrap">

    <div class="add_group_button">
      <button class="btn btn-default" type="button" ng-click="addGroup()">Add Group</button>
    </div>

    <div class="new_group" ng-show="addGroupGrid">
      
      <form class="form-group" name="contactEditForm">

        <div class="form-group">
          <label>Group Name</label>
          <input type="text" class="form-control" name="groupName" ng-model="groupName"/>
        </div>

        <div class="form-group">
          <label>Select Contacts to Add</label>

            <div class="input-group changethisone">
              <input type="text"  class="form-control" placeholder="Contact Search" ng-model="name"/>
              <span class="input-group-addon">
                  <i class="glyphicon glyphicon-search"></i>
              </span>
            </div>

          <div class="availiable_contacts" ng-repeat="contact in contacts | filter: name">
            <label>
              <input type="checkbox" class="group_contacts" ng-model="selected[contact.id]">
              <img class="group_contact" src="../browser/public/blank_photo.png"/>{{ contact.name.firstName }} {{ contact.name.lastName }}
            </label>
          </div>
        </div >

      </form>  

      <div class="button_wrap">
        <button class="submit_button btn btn-default" type="button" required ng-click="createGroup()">Submit</button>
      </div><!-- button_wrap -->

      </div><!-- new_group -->

    <div class="alert alert-success" ng-show="groupSuccess">
      <strong>Success!</strong> Group has been added!
    </div>

  </div><!--  add_group_wrap -->


</section>

