<! LISTING GROUPS>

<section ng-controller="getGroupCtrl" class="group_result_wrap">

  <div class="group_wrap">
    <div class="groups" ng-show="groupWrap" ng-repeat="group in groups" >

      <a ng-click="getContactDetails(contact.id )" href="#/groupInfo/{{ group.id }}">
          <img src="../browser/public/blank_group.png"/><br/>
      </a>

      <div class="group_name">
        <a href="#/groupInfo/{{ group.id }}"> {{ group.name }}</a>
      </div><!-- . group_name - -->

    </div><!-- . groups - -->
  </div><!-- . group_wrap - -->

  <div class="group_details">
    <div ng-show="detailsWrap">
      <div>Group Name: <p>{{ singleGroup.name }}</p></div>
    </div>
  </div><!-- . group_details - -->

</section><!-- .getGroupsCtrl - -->


<! ADD A GROUP>

<section ng-controller="postGroupFactory" class="add_group_wrap">

  <button class="add_group_button" ng-click="addGroup()">Add a Group</button>

    <div class="new_group" ng-show="groupGrid">

      <table class="table">
        <tr>
          <th class="label">Group Name</th>
          <td class="input">
            <input type="text" ng-model="groupName" required/>
          </td>
        </tr>
        <tr>
          <th class="label">Contact</th>
          <td class="input">
            <input type="text" ng-model="groupContacts" required/>
          </td>
        </tr>
      </table>
      <div>
        <div class="button_wrap">
          <button class="submit_button" type="text" required ng-click="createGroup()">Submit</button>
        </div><!-- . button_wrap - -->
      </div>
    </div><!-- . new_group - -->

    <div class="post_message" ng-show="postMessage">
     <div>group successfully created!</div>
    </div>
</section><!-- . postGroupFactory - -->


