  <section class="details_wrap">
  
    <div class="contact_pic_wrap">
      <div class="contact_pic">
        <img src="../browser/public/blank_photo.png">
      </div>
    </div><!-- . contact_pic_wrap - -->


    <div class="core_data_wrap">
      <div>First Name: <p>{{ singleContact.name.firstName }}</p></div>
      <div>Last Name: <p>{{ singleContact.name.lastName }}</p></div>
      <div>Birthday: <p>{{ singleContact.birthday.date }}</p></div>
      <div>Phone Number: <p>{{ singleContact.phoneNumber.mobile }}</p></div>
      <div>Email: <p>{{ singleContact.email.personal }}</p></div>
      <div>Company:<p>{{ singleContact.company }}</p></div>
    </div><!-- .core_data_wrap - -->


    <div class="address_wrap">
      <p ng-click="showAddress()" class="show_more"><b>Show More</b></p>
      <div ng-show="addressDetails">
        <div>Street1: <p>{{ address.street1 }}</p></div>
        <div>Street2: <p>{{ address.street2 }}</p></div>
        <div>City: <p>{{ address.city }}</p></div>
        <div>State: <p>{{ address.state }}</p></div>
        <div>Zip: <p>{{ address.zip }}</p></div>
        <div>Country:<p>{{ address.country }}</p></div>
      </div>
    </div><!-- . address_wrap - -->


    <div class="edit_wrap">
      <div>
        <p ng-click="updateContact()"><b>UPDATE CONTACT</b></p>
      </div>
      <div>
        <p ng-click="deleteContact()"><button class="btn btn-success">DELETE CONTACT (one click!)</b></p>
      </div>
    </div><!-- .edit_wrap - -->


    <div class="alert alert-success" ng-show="contactDeleted">
      <strong>Success!</strong> Contact has been deleted!
    </div>


    <div class="alert alert-success" ng-show="contactEdited">
      <strong>Success!</strong> Contact has been deleted!
    </div>


    <div class="edit_contact_wrap" ng-show="editGrid">
      <table class="table">
        <tr>
          <td class="label">First Name</td>
          <td class="input">
            <input type="text" ng-model="firstName"/>
          </td>
        </tr>
        <tr>
          <td class="label">Last Name</td>
          <td class="input">
            <input type="text" ng-model="lastName"/>
          </td>
        </tr>
        <tr>
          <td class="label">Phone Number</td>
          <td class="input">
            <input type="text" ng-model="mobile"/>
          </td>
        </tr>
        <tr>
          <td class="label">Email</td>
          <td class="input">
            <input type="text" ng-model="personal"/>
          </td>
        </tr>
      </table>
      <div>
        <div class="button_wrap">
          <button class="submit_button" type="text" required ng-click="submitEdit()">Submit</button>
        </div><!-- . submit_button - -->
      </div>
  </div><!-- . edit_contact_wrap - -->

  </section><!-- . details_wrap - -->

