  <section class="details_wrap">
  
    <div class="contact_pic_wrap">
      <div class="contact_pic">
        <img src="../browser/public/blank_photo.png">
      </div>
    </div><!-- . contact_pic_wrap - -->


    <div class="core_data_wrap">
      <div>First Name: <p>{{ singleContact.name.firstName }}</p></div>
      <div>Last Name: <p>{{ singleContact.name.lastName }}</p></div>
      <div>Birthday: <p>{{ singleContact.birthday.date }}</p></div>
      <div>Phone Number: <p>{{ singleContact.phoneNumber.mobile }}</p></div>
      <div>Email: <p>{{ singleContact.email.personal }}</p></div>
      <div>Company:<p>{{ singleContact.company }}</p></div>
    </div><!-- .core_data_wrap - -->


    <div class="address_wrap">
      <p ng-click="showAddress()" class="show_more"><b>Show More</b></p>
      <div ng-show="addressDetails">
        <div>Street1: <p>{{ address.street1 }}</p></div>
        <div>Street2: <p>{{ address.street2 }}</p></div>
        <div>City: <p>{{ address.city }}</p></div>
        <div>State: <p>{{ address.state }}</p></div>
        <div>Zip: <p>{{ address.zip }}</p></div>
        <div>Country:<p>{{ address.country }}</p></div>
      </div>
    </div><!-- . address_wrap - -->


    <div class="edit_wrap">
      <p ng-click="updateContact()"><button class="btn btn-warning">UPDATE CONTACT</p>

      <p ng-click="deleteContact()"><button class="btn btn-danger">DELETE CONTACT (one click!)</p>

    </div><!-- .edit_wrap - -->


    <div class="alert alert-success" ng-show="contactDeleted">
      <strong>Success!</strong> Contact has been deleted!
    </div>


    <div class="alert alert-success" ng-show="contactEdited">
      <strong>Success!</strong> Contact has been updated!
    </div>


    <div class="edit_contact_wrap" ng-show="editGrid">
      <form class="form-group" name="contactEditForm">

        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" name="firstName" ng-model="firstName"/>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" name="lastName" ng-model="lastName"/>
        </div>

        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" name="mobile" ng-model="mobile"/>
        </div>

        <div class="form-group"> 
          <label>Email</label>
          <input type="text" class="form-control" name="personal" ng-model="personal"/>
        </div>

      </form>

      <div class="button_wrap">
        <button class="btn btn-primary" type="submit" required ng-click="submitEdit()">Submit</button>
      </div><!-- . submit_button - -->

  </div><!-- . edit_contact_wrap - -->

  </section><!-- . details_wrap - -->

