/* Header */
.navbar { background-color: #e6e2e8; height: 50px; }
.navbar-header { float: left; padding-left: 10px; }
.plus_wrap { outline: 0px solid black; float: right; width: 50px; height: 50px;  margin-bottom: 50px; }
.plus_img_wrap { outline: 0px solid blue; width: 40px; margin-bottom: 20px; margin: 0 auto; height: 50px; }
.contact_plus { cursor: pointer; color: #ff4400; margin-left: 7px; font-size: 40px; }

/* Sidebar */

.sidebar { display: none; text-align: right; box-shadow: 2px 2px 2px #888888; }

.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }
.nav-sidebar > li > a { padding: 20px; padding-right: 20px; padding-left: 20px; color: #32353B; background-color: #e6e2e8; border: 1px solid #F1F2FA; margin: 0; width: 100%; }
.menuText { display: inline-block; width: 70%; }
.user { width: 100%; margin: 0 auto; }

/* Contact Wrap */
.contact_result_wrap, .add_contact_wrap, .group_result_wrap, .add_group_wrap { margin-left: 25px; }
.add_contact_button, .submit_button, .add_group_button { background-color: #FFC538; }


@media (min-width: 768px) {
	.sidebar { position: fixed; width: 20%; top: 0; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #00CEBD; font-size: 1.5em; }
	.navbar { width: 80%; float: right; }
	.contact_result_wrap, .add_contact_wrap, .group_result_wrap, .add_group_wrap { width: 70%; float: right; }

}






