/* Header */
.navbar { background-color: #e6e2e8; height: 50px; }
.navbar-header { float: left; padding-left: 10px; }
.plus_wrap { outline: 0px solid black; float: right; width: 50px; height: 50px;  margin-bottom: 50px; }
.plus_img_wrap { outline: 0px solid blue; width: 40px; margin-bottom: 20px; margin: 0 auto; height: 50px; }
.contact_plus { cursor: pointer; color: #ff4400; margin-left: 7px; font-size: 40px; }
.login_wrap { float: right; }

/* Sidebar */

.sidebar { display: none; text-align: right; box-shadow: 2px 2px 2px #888888; font-family: Arvo; }
.hello { color: white; }
.nav-sidebar { margin-right: -21px; margin-bottom: 20px; margin-left: -20px; }
.nav-sidebar > li > a { padding: 20px; padding-right: 20px; padding-left: 20px; color: #32353B; background-color: #4A8BCA; border: 1px solid #F1F2FA; padding-botton: 2px; margin: 0; }
.menuText { display: inline-block; }
.user { width: 100%; margin: 0 auto; }
.profilePic { outline: 0px solid white; margin-bottom: 40px; margin-top: 25px; }
.profile_img_wrap { outline: 0px dotted white; width: 80px; height: 80px; margin: 0 auto; }
.profilePic img { outline: 0px solid red; height: 80px; border-radius: 50%; margin-top: 5px; margin-right: 5px; }

.addMenu_wrap { outline: 0px solid; margin-top: 50px; }
.add { outline: 0px dotted white; width: 35px; margin: 0 auto; }



/* Contacts */
.contact_result_wrap, .add_contact_wrap, .group_result_wrap, .add_group_wrap, .contact_button .upload_wrap { margin-left: 25px; font-family: Oswald;}

.add_contact_button, .submit_button { background-color: #F2635F; }
.input-group { margin-left: 30px; width: 75%; padding-bottom: 20px; z-index: -1;}
.result_wrap { outline: 0px solid red; display: inline-block; width: 95%; margin-top: 25px; }
.all_contacts { outline: 0px solid black; display: inline-block; width: 150px; margin: 0 auto; margin-bottom: 30px; }
.list_contacts { outline: 0px solid red; width: 130px; }
.list_contacts img { outline: 0px dotted blue; height: 100px; border-radius: 50%; margin-left: 15px;margin-bottom: 5px; }
.contact_name { display: inline-block; }
.extra_wrap { outline: 0px solid blue; margin: 0 auto; width: 100px; }
.full_contact_name { margin: 0 auto; }


/* Single Contact */

.contact_pic_wrap { outline: 0px solid blue; width: 95%; margin-left: 20px; }
.contact_pic { outline: 0px solid black; width: 200px; margin: 0 auto; padding-top: 30px; }
.contact_pic img { outline: 0px solid red; height: 150px; border-radius: 50%; margin-left: 25px; }
.name { outline: 0px solid black; font-size: 25px; }
.name p { margin: 0 auto; font-family: Arvo;}

.all_info { outline: 0px solid blue; width: 90%; margin-top: 25px; display: inline-block; }
.info_wrap { outline: 0px solid red; font-family: Oswald; margin: 0 auto; width: 100%; }
.core_data_wrap { outline: 0px solid black; width: 100%; margin-right: 25px; outline: 1px solid #eee; background-color: #eee; width: 250px; margin-bottom: 25px; box-shadow: 10px 10px 5px #888888; display: inline-block; }
.address_wrap { outline: 0px solid blue; display: inline-block; }
.address_info {outline: 1px solid #eee; background-color: #eee; margin-right: 25px; display: inline-block; width: 250px; margin-bottom: 25px; box-shadow: 10px 10px 5px #888888; }
.edit_icon { outline: 0px solid red; width: 25px; float: right; cursor: pointer;}
.edit_icon img { height: 15px; }
.add_wrap { outline: 0px solid red; cursor: pointer; width: 90%; margin-left: 25px; margin-bottom: 20px; }
.edit_wrap { outline: 0px solid blue; width: 90%; margin-left: 35px; }
.delete { outline: 0px solid black; margin: 0 auto; width: 100px; }

.data_elements { margin-left: 10px; font-size: 15px; padding-bottom: 15px; padding-top: 15px; }
.element { padding-bottom: 10px; font-style: bold; }
.data { padding-left: 5px; }
.alert, .alert-success { width: 75%; }
.button_wrap { margin-bottom: 25px; }
.upload_image { cursor: pointer;}

/* CSV Page */
.upload_wrap { font-family: Oswald; width: 90%; margin-left: 15px; }
.csv_header { font-family: Arvo; font-size: 20px; }
.header_list {outline: 1px solid #eee; background-color: #eee; width: 300px; margin-bottom: 25px; box-shadow: 10px 10px 5px #888888; height: 250px; -webkit-column-count: 2; padding-top: 15px; }
.header_list p { margin-left: 10px; }
.upload { margin-bottom: 15px; }

/* Groups */
.table { color: black; background-color: #777; margin-right: 40px; }

.group_wrap { outline: 0px solid black; width: 95%; display: inline-block; margin-top: 25px; }
.groups { outline: 0px solid red; display: inline-block; width: 150px; margin-bottom: 25px; }
.group_wrap img { outline: 0px solid blue; height: 100px; border-radius: 50%; margin-left: 25px; }
.group_name { outline: 0px dotted black; width: 130px; margin-left: 10px; }
.availiable_contacts { margin-bottom: 25px; }
.group_contact { height: 100px; border-radius: 50%; }
.group_contact_name img { outline: 0px solid blue; height: 100px; border-radius: 50%; }

/* Group Details*/
.details_wrap { width: 95%; margin-left: 25px; }
.group_details { font-family: Oswald; }
.group_details p { font-family: Arvo; font-size: 20px; outline: 0px solid red; }
.group_edit_img { height: 15px; padding-left: 50px; cursor: pointer; }
.group_contact_name { display: inline-block; margin-right: 30px; margin-top: 25px; }
.edit_group_wrap { margin-top: 25px; outline: 0px solid red; height: 200px; }
.edit_group_wrap input { margin: 0 auto; }

/* Birthdays */
.birthday_wrap { outline: 0px solid blue; width: 100%; margin-right: 25px; }
.birthday_pic { outline: 0px solid black; width: 95%; }
.birthday_pic img { outline: 0px solid red; height: 100px; border-radius: 50%; margin-top: 5px; margin-bottom: 25px; }
.birthday_contact p { display: inline-block; }
.add_group_button { margin-bottom: 25px; }




@media (min-width: 768px) {
	.sidebar { position: fixed; width: 20%; top: 0; bottom: 0; left: 0; z-index: 1000; display: block; padding: 20px; overflow-x: hidden; overflow-y: auto; background-color: #271d5c; font-size: 1.5em; }
	.contact_result_wrap, .add_contact_wrap, .group_result_wrap, .add_group_wrap, .contact_button, .upload_wrap, .details_wrap, .birthday_wrap, .login_bar { width: 75%; float: right; }
	.addMenu { margin-right: 60px; margin-top: 50px; }

}






