<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Node_Contacts</title>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-animate.js" type="text/javascript"></script>
  <script src="https://code.angularjs.org/1.4.10/angular-route.js" type="text/javascript"></script>
  <script type="text/javascript" src="../browser/js/app.js"></script>
  <script type="text/javascript" src="../browser/js/browser_config.js"></script>
  <script type="text/javascript" src="../browser/js/contacts/Contacts.js"></script>
  <script type="text/javascript" src="../browser/js/groups/Groups.js"></script>
  <script type="text/javascript" src="../browser/js/single_contact/SingleContact.js"></script>
  <script type="text/javascript" src="../browser/js/single_group/SingleGroup.js"></script>
  <script type="text/javascript" src="../browser/js/upload/upload.js"></script>
  <script type="text/javascript" src="../browser/js/add_contact/add.js"></script>
  <script type="text/javascript" src="../browser/js/home/home.js"></script>
  <script type="text/javascript" src="../browser/directives/loginBar.js"></script>
  
  <script type="text/javascript" src="../browser/js/factories/Login.js"></script>
  <script type="text/javascript" src="../browser/js/factories/GetContacts.js"></script>
  <script type="text/javascript" src="../browser/js/factories/UserGroups.js"></script>
  <script type="text/javascript" src="../browser/js/factories/AddContact.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
  
  <link href="../browser/css/main.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo|Oswald:300" rel="stylesheet">
  <link href="./node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">




</head>
<body >
	
<!-- HEADER NAV -->

<div ng-controller="CollapseDemoCtrl">
<span ng-init="myDialog()"></span>


  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header" ng-show="mini_nav">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" data-toggle="collapse" data-target=".navbar-responsive-collapse" uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li class="active navlist visible-xs-block" ng-click="isNavCollapsed = !isNavCollapsed"><a class="clink" ng-href="#/contactInfo">Contacts<span class="sr-only">(current)</span></a></li> 
        <li class="active navlist visible-xs-block" ng-click="isNavCollapsed = !isNavCollapsed"><a class="clink" ng-href="#/groupInfo">Groups<span class="sr-only">(current)</span></a></li>
        <li class="active navlist visible-xs-block" ng-click="isNavCollapsed = !isNavCollapsed"><a class="clink" ng-href="#/activity">Activity<span class="sr-only menuText">(current)</span></a></li> 
        <li class="active navlist visible-xs-block" ng-click="isNavCollapsed = !isNavCollapsed"><a class="clink" ng-href="#/contactUpload">Upload Contacts<span class="sr-only">(current)</span></a></li>         
      </ul>
    </div>
    <div class="login">
      <login-bar class="login_bar"></login-bar>
    </div>
  </nav>
</div>



<!-- SIDEBAR -->

<div class="sidebar" ng-show="mini_nav">

  <div class="user">
    <div class="profilePic">
        <!-- <img class="user_pic" src="../browser/public/blank_photo.png"> -->
        <img class="user_pic" src={{userData.picture}}>
    </div>
    <div class="hello">
      <p>Welcome.</p>
    </div>
  </div><!-- user -->

<ul class="nav nav-sidebar"> 
  <li>
    <a ng-href="#/contactInfo">
      <span class="menuText">Contacts</span>
    </a>
  </li>       
  <li>
    <a ng-href="#/groupInfo">
      <span class="menuText">Groups</span>
    </a>  
  </li> 
  <li class="active">
    <a ng-href="#/activity">
      <span class="menuText">Activity</span>
    </a>
  </li> 
  <li> 
    <a ng-href="#/contactUpload">
      <span class="menuText">Upload Contacts</span>
    </a>  
  </li>
  <div ng-controller="NewContactCtrl" ng-show="addBtn">
  <div class="addMenu_wrap">
    <div class="add">
      <a ng-click="addContact()" href="#/addContact"><i class="fa fa-plus-circle fa-2x" class="icon"></i></a>
    </div>
  </div>
</div>          
</ul>


</div>

<!-- LOGIN -->

<div ng-view></div>
 
</body>
</html>





