<div class="birthday_wrap">
  <p class="page_header"><b>Activities</b></p>

  <div class="birthday_title">
    <p>Upcoming Birthdays</p>
  </div><!-- . birthday_title - -->

  <div class="birthday_results" ng-repeat="birthday in currentBirthday">

    <a class="birthday_pic" ng-click="getContactDetails(contact.id )" href="#/contactInfo/{{ contact.id }}">
      <img ng-src="{{ birthday.pictures || '../browser/public/blank_photo.png' }}"/><br/>
    </a>

    <div class="birthday_contact" ng-click="getContactDetails(contact.id )">
     <div class="birthday_center">
        <p>{{ birthday.name.firstName }} {{ birthday.name.lastName }}</p>
        <p>{{ birthday.birthday.date | date: MM:dd}}</p>
     </div>
    </div>
  </div><!-- . birthday_results - -->

</div><!-- . birthday_wrap - -->